Flask==2.0.2
Flask-SQLAlchemy==2.5.1  # If you are using SQLAlchemy for database management
Flask-WTF==1.0.0          # For form handling (if you're using Flask-WTF)
Flask-Login==0.5.0        # For user authentication (if applicable)
Werkzeug==2.0.3
dnspython==2.2.1
gunicorn